@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    font-family: "Jost", sans-serif;
    box-sizing: border-box;
  }

  body {
    @apply lg:py-20 lg:px-8 md:py-16    bg-grey-light  relative overflow-x-hidden min-h-screen;
  }

  h1,
  h2,
  h3,
  h4 {
    @apply font-bold text-grey-darkest;
  }

  h3 {
    @apply text-2xl;
  }
}

@layer components {
  .feedbackCategory {
    @apply py-2 px-6 bg-grey-light rounded-lg text-blue-default font-bold transition-colors duration-200 cursor-pointer;
  }

  .sortItem,
  .dropItem {
    @apply flex justify-between px-6 py-3 border-b transition duration-300 cursor-pointer border-b-slate-300 hover:text-purple-hover last:border-0 min-h-fit;
  }

  .btn {
    @apply py-3 px-6 text-white font-bold rounded-xl transition-colors duration-300;
  }
}

@layer utilities {
  .active {
    transform: translateY(80px);
    pointer-events: all;
    opacity: 1;
    transition: all 0.3s;
  }
}
